@import "./App.css";

.BoardView-Grid {
  text-align: center;
  margin-left: 5px;
  margin-top: 5px;
}

.BoardView-Grid [class~="ant-col"] {
  background: transparent;
  border: 0;
}

.BoardView-Grid-Cell {
  height: 71px;
  width: 71px;
  font-size: 14px;
  line-height: 120px;
  border-color: grey;
  border-width: 3px;
  border-style: solid;
  text-align: center;
  align-content: center;
  vertical-align: middle;
  background-color: lightgray;
}

.react-draggable {
  position: relative;
  z-index: 9999;
}
